<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "nl.web2000.ios"
	version 	= "1.0.0">

	<name>iOS test app</name>

	<description>
		First app to test on iOS
	</description>

	<author href="http://benoist.github.com"
		email="info@web2000.nl">
    Benoist Claassen
	</author>

	<gap:platforms>
		<gap:platform name="ios" />
	</gap:platforms>

	<icon src="blurry.png" gap:role="default" />

    <gap:splash src="weirdo.png" />

	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/network"/>

	<!-- sample preference specification -->
	<!-- <preference name="autorotate" value="false" readonly="true"/> -->
</widget>
